   body {
   		background-color: white;
		margin: 0;
   }
   
   h1 {
   		color: black;
        text-align: left;
        font-family: "Trebuchet MS", Times, serif;
		font-size: 2em;
   }
   
   #header {
	float: right;
    list-style-type: none;
    overflow: hidden;
    background-color: lightblue;
	top: 0;
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
   }
   
   td {
   		text-align: center;
		padding: -10px;
   }
  
  #header-left {
		float:  left;
  		font-size: 45px;
        width: 400px;
  }
  
  #filler {
  	width: 210px;
  }
  
  p {
    color: black; 
    text-align: left;
    font-family: "verdana";
	font-size: 24px; 
  }
  
  ul {
	color: black; 
	text-align: left; 
	font-family: "verdana";
	font-size 24px;
  }

  #facts {
	list-style-type: disc;
  }
  
  .header_tab {
	  float: right;
  }

  .header_tab a {
    display: block;
	color: black;
    text-align: center;
    padding: 21px 28px;
    text-decoration: none;
  }
  
  .header_tab a:hover {
	  background-color: #419fbe;
  }
